* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-inner h5 {
  font-size: 45px;
}


.carousel-inner p {
  font-size: 30px;
}


.container .logo a {
  text-decoration: none;
}

.container .logo i {
  color: #35a22c;
}

/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;

  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link::before {
  color: #35a22c;
  width: 100%;
}


/* end header */
.nav-link.active {
  background: green !important;
  color: black;
}

.item_title {
  color: black;
}

#products .item__content:hover .item_title p {
  color: black;
  justify-content: space-between;
}

/* start carousel */
.animation-carousel {
  transform: translateY(-10);
}


.carousel__bg {
  height: 100vh;

  object-fit: cover;
}

#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, .5);
  top: 0;
  left: 0;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-indicators li.active {
  background-color: #35a22c;
}

/* end carousel */

#products .item__content {
  border-radius: 16px;

  overflow: hidden;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  height: 450px;
  text-align: center;

  /* border: 1px solid red; */

  cursor: pointer;
}

#products .item__content img {
  height: 350px;
  object-fit: cover;
}

#products .item__content .title {
  /* padding: 25px; */

  padding: 15px;
  height: 100px;

  transition: 0.3s;

  border: 1px solid white;
  border-radius: 16px;

  border-top-left-radius: 0px;

  border-top-right-radius: 0px;
}

#products .item__content:hover .title {
  color: #35a22c;

  border-color: #35a22c;
  border-top-color: white;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
}

.nav-link:hover {
  color: black;
}

.nav-item {
  margin-inline: 10px;

}

.animation {
  transform: scale(0.3);
  animation: animation 0.5s both linear;
}

@keyframes animation {
  form {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

/* feature */
.feature {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url(./image/3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature::before {
  content: "";
  top: 0;
  left: 0;
  background: rgba(7, 10, 12, .72);
  width: 100%;
  height: 100vh;
  position: absolute;
}


.container {
  padding-inline: 50px !important;
  color: white;

}

.feature_item {
  text-align: center;
  padding-top: 100px;
  position: relative;
}


.feature_item h3 {
  padding-bottom: 20px;
}

.feature_item p {
  padding-bottom: 40px;
}

.table {
  color: white;
}

.table-1 {
  text-align: center;
  background: rgba(255, 255, 255, 0.194);
  border: 1px solid rgba(255, 255, 255, 0.662);
  border-radius: 10px;
  height: 300px;
  padding: 30px 0px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
}

.table-1:hover {
  background: black;

}

.table-1-i {
  color: #35a22c;
  font-size: 40px;
}

.table-1-h4 {
  padding: 21px 0px;
}

.table-1-p {
  font-size: 16px;
}

/* contact */

.contact {
  height: 400px;
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 5;
}

.container_contact {
  padding-inline: 240px;
  display: flex;
  margin-top: 80px;
}

.contact_left {
  width: 40%;
  height: 250px;
  padding: 30px 20px;
  margin-right: 20px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  background: rgba(255, 255, 255, .25);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.contact_left p {
  margin-top: 20px;
}

.contact_right {
  width: 60%;
  height: 250px;
  padding: 30px 20px;
}

.contact_right p {
  font-size: 15px;
}

.logo_contact_right img {
  width: 19%;
  height: 20%;
}

/* end contact */

/* start footer */
.footer {
  height: 200px;
  background: #222222;
  text-align: center;
  padding: 20px 0px;
}

.container_footer {
  padding-inline: 240px;
}

.sticker_footer {
  border-bottom: 1px solid #454545;
  padding: 25px;
}

.sticker_footer a {
  margin-inline: 5px;
  text-decoration: none;
}

.sticker_footer a i {
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  padding: 9px;
  text-align: center;
  transition: 0.5s;
}

.sticker_footer a i:hover {
  color: #35a22c;
  border: 1px solid green;
}

.container_footer p {
  color: #aaaaaa;
  margin-top: 25px;
}